<section class="flex flex-col gap-5 justify-between bg-white shadow shadow-udes-gray-600 w-full p-5 rounded">
  <h2 class="text-2xl">Poligrafo de Notas</h2>
  <div class="flex w-full justify-between">
    <div class="flex flex-col rounded overflow-hidden">
      <div class="bg-udes-blue-800 text-white py-3 px-10">Período</div>
      <div class="bg-white hover:bg-udes-gray-100 text-udes-blue-800 py-3 px-10 border border-udes-gray-300">2021-1</div>

    </div>
    <div>
      Poligrafo
    </div>
  </div>
</section>
